{% extends 'base/base.html' %}

{% block content %}
<form action="" method="post">
    {%   csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form.as_p }}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary">
           <i class="far fa-save"></i>
            Guardar
        </button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('input[type=password]').addClass('form-control')
    })
</script>
{% endblock %}